<!-- Wappler include head-page="layouts/main" bootstrap5="local" is="dmx-app" id="secrets" appConnect="local" components="{dmxDataTraversal:{},dmxTagify:{},dmxBootstrap5Modal:{},dmxDropzone:{},dmxFormRepeat:{},dmxValidator:{},dmxFormatter:{},dmxVideo:{},dmxBootstrap5TableGenerator:{},dmxStateManagement:{},dmxBootstrap5PagingGenerator:{}}" bootstrap_icons="local" -->
<meta name="ac:route" content="/secrets">
<script is="dmx-flow" id="flowRunSecretSC" type="text/dmx-flow" autorun="true">{
  run: {outputType: "text", action: "{{scSecrets.load({})}}"}
}</script>

<dmx-serverconnect id="scSecrets" url="/api/secrets/list" dmx-param:sort="qm.data.sort_secret.default('secret_title')" dmx-param:dir="qm.data.dir_secret.default('asc')" dmx-param:limit="selLimit.value ? selLimit.value :25" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scSharedSecrets" url="/api/secrets/shared-secrets-user-details" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scSecretData" url="/api/secrets/data" noload="true" dmx-on:success="run([{condition:{outputType:'boolean',if:`varRunDecryptFunction.value==true`,then:{steps:[{runJS:{outputType:'text',function:'decryptData',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,'view']}},{condition:{outputType:'boolean',if:`varModalViewShow.value==true`,then:{steps:{run:{outputType:'text',action:`modalViewSecret.show()`}}},else:{steps:{condition:{outputType:'boolean',if:`varModalManageShow.value==true`,then:{steps:{run:{outputType:'text',action:`modalManageSecret.show()`}}}}}}}}]}}},{condition:{outputType:'boolean',if:`varRunDownloadFunction.value==true`,then:{steps:{runJS:{outputType:'text',function:'downloadSecret',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.file_name`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,`download`]}}}}},{condition:{outputType:'boolean',if:`varRunShareFunction.value==true`,then:{steps:[{run:{outputType:'text',action:`varRunShareFunction.setValue(null)`}},{runJS:{outputType:'text',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,`varPublicKey.value`],function:'shareSecret'}}]}}}])"></dmx-serverconnect>
<dmx-data-detail id="ddSecret" key="secret_id" dmx-bind:data="scSecrets.data.qSecrets.data"></dmx-data-detail>
<dmx-data-detail id="ddUsers" key="user_id" dmx-bind:data="scUsers.data.qUsers"></dmx-data-detail>
<dmx-value id="varSession"></dmx-value>
<dmx-value id="varDecryptedData"></dmx-value>
<dmx-value id="varPublicKey" dmx-bind:value="'<%=_('$_ENV.PUBLIC_KEY',locals)%>'"></dmx-value>
<dmx-value id="varMaxFileSize" dmx-bind:value="'<%=_('$_ENV.MAX_FILE_SIZE',locals)%>'"></dmx-value>
<dmx-value id="varMaxPVTKEYFileSize" dmx-bind:value="'<%=_('$_ENV.PVT_KEY_MAX_FILE_SIZE',locals)%>'"></dmx-value>
<dmx-value id="varFileURL"></dmx-value>
<dmx-value id="varManageSecretFunction"></dmx-value>
<dmx-value id="varShareSecretFunction"></dmx-value>
<dmx-value id="varModalViewShow" dmx-bind:value="false"></dmx-value>
<dmx-value id="varModalManageShow" dmx-bind:value="false"></dmx-value>
<dmx-value id="varRunDecryptFunction" dmx-bind:value="false"></dmx-value>
<dmx-value id="varRunShareFunction" dmx-bind:value="false"></dmx-value>
<dmx-value id="varRunDownloadFunction" dmx-bind:value="false"></dmx-value>
<dmx-value id="varCurrentCheckCount" dmx-bind:value="0"></dmx-value>
<dmx-value id="varInvalidPrivateKey"></dmx-value>
<dmx-query-manager id="qm"></dmx-query-manager>
<dmx-socket id="socketSecrets" dmx-on:message.secret-details="run([{run:{outputType:'text',action:`scSecrets.load({},true);notif.info($event.notif_message)`}},{run:{outputType:'text',action:`scSecretData.reset()`}}])"></dmx-socket>

<div class="card shadow rounded-3">
  <div class="card-body">
    <div class="row align-items-center justify-content-between">
      <div class="d-flex flex-grow-1 col-md-auto mb-3 me-md-auto align-items-center">
        <button class="btn d-flex align-items-center" dmx-class:btn-outline-success="varSession.value" dmx-class:btn-danger="!varSession.value" dmx-on:click="!varSession.value ? modalAddPrivateKey.show() : ''">
          <i class="bi me-1 bi-lock" dmx-show="!varSession.value"></i>
          <i class="bi me-1 bi-unlock" dmx-show="varSession.value"></i>
          <h4 class="mb-0">Secrets</h4>
        </button>
        <span dmx-show="!varSession.value" class="small text-muted ms-2"><i>Click to Unlock</i></span>
      </div>
      <div class="d-flex flex-nowrap col-12 col-md-auto mb-3">
        <div class="input-group">
          <span class="input-group-text"><i class="bi-search"></i></span>
          <input type="search" class="form-control" id="txtSearch" dmx-on:changed.debounce:300="scSecrets.load({filter: value},true)" aria-describedby="txtSearch_help" placeholder="Search">
        </div>
        <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#modalManageSecret" is="dmx-button" type="button">Add</button>
      </div>
    </div>

    <div class="overflow-auto flex-grow-1">
      <div class="d-flex align-items-center justify-content-center py-5" dmx-show="scSecrets.state.executing">
        <span class="border-3 ms-2 spinner-border spinner-border-sm" role="status"></span>
      </div>
      <p class="text-center py-5 border-black m-5 slide-out-down" dmx-hide="scSecrets.data.qSecrets.data.hasItems()||scSecrets.state.executing">No Secrets Found</p>
      <div class="table-responsive" dmx-show="scSecrets.data.qSecrets.data.hasItems()&&!scSecrets.state.executing">
        <table class="table table-hover table-middle table-striped">
          <thead class="border-3 border-bottom border-end-0 border-start-0 border-top-0">
            <tr>
              <th>#</th>
              <th class="sorting" dmx-on:click="qm.set('sort_secret','secret_title');qm.set('dir_secret',qm.data.dir_secret == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort_secret=='secret_title' && qm.data.dir_secret == 'asc'" dmx-class:sorting_desc="qm.data.sort_secret=='secret_title' && qm.data.dir_secret == 'desc'">Secret Title</th>
              <th scope="row" class="d-none d-md-table-cell">Tags</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scSecrets.data.qSecrets.data" id="tblRepeatSecrets" dmx-state="qm" dmx-sort="sort_secret" dmx-order="dir_secret">
            <tr>
              <td dmx-text="scSecrets.data.qSecrets.offset+$index+1"></td>
              <td>{{secret_title}}
                <br>
                <span class="badge d-md-none bg-primary text-white me-1" dmx-repeat:reptags="tags.split(',')">{{$value}}</span>
              </td>
              <td class="d-none d-md-table-cell"><span class="badge bg-primary text-white me-1" dmx-repeat:reptags="tags.split(',')">{{$value}}</span></td>
              <td>
                <div class="d-flex flex-row">
                  <button dmx-bind:disabled="!varSession.value" dmx-on:click="run([{run:{outputType:'text',action:`ddSecret.select(secret_id);varRunDecryptFunction.setValue(true);varModalViewShow.setValue(true)`}},{condition:{outputType:'boolean',if:`scSecretData.data.varData.secret_id!=ddSecret.data.secret_id`,then:{steps:{run:{outputType:'text',action:`scSecretData.load({secret_id: secret_id})`}}},else:{steps:[{runJS:{outputType:'text',function:'decryptData',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,'view']}},{run:{outputType:'text',action:`modalViewSecret.show()`}}]}}}])" class="btn ms-2 d-none d-md-inline-block btn-outline-primary" data-bs-target="#modalViewSecret">View</button>

                  <div class="dropdown ms-2">
                    <button id="btnEditOptions" class="btn dropdown-toggle btn-outline-primary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="" is="dmx-button" type="button">More</button>
                    <div class="dropdown-menu" aria-labelledby="btnEditOptions">
                      <button dmx-bind:disabled="!varSession.value" dmx-on:click="run([{run:{outputType:'text',action:`ddSecret.select(secret_id);varRunDecryptFunction.setValue(true);varModalViewShow.setValue(true)`}},{condition:{outputType:'boolean',if:`scSecretData.data.varData.secret_id!=ddSecret.data.secret_id`,then:{steps:{run:{outputType:'text',action:`scSecretData.load({secret_id: secret_id})`}}},else:{steps:[{runJS:{outputType:'text',function:'decryptData',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,'view']}},{run:{outputType:'text',action:`modalViewSecret.show()`}}]}}}])" class="dropdown-item d-md-none" data-bs-toggle="modal" data-bs-target="#modalViewSecret"><i class="bi-eye me-2"></i>View Secret</button>
                      <button class="dropdown-item" is="dmx-link" href="javascript:void(0);" dmx-on:click="run([{run:{outputType:'text',action:`ddSecret.select(secret_id)`}},{condition:{outputType:'boolean',if:`ddSecret.data.is_text`,then:{steps:[{run:{outputType:'text',action:`varRunDecryptFunction.setValue(true);varModalManageShow.setValue(true)`}},{condition:{outputType:'boolean',if:`scSecretData.data.varData.secret_id!=ddSecret.data.secret_id`,then:{steps:{run:{outputType:'text',action:`scSecretData.load({secret_id: secret_id})`}}},else:{steps:[{runJS:{outputType:'text',function:'decryptData',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,'edit']}},{run:{outputType:'text',action:`modalManageSecret.show()`}}]}}}]},else:{steps:{run:{outputType:'text',action:`modalManageSecret.show()`}}}}}])" dmx-bind:disabled="!varSession.value" dmx-show="is_edit_allowed==1"><i class="bi-pencil me-2"></i>Edit Secret</button>
                      <button id="btnShareSecret" dmx-show="scUsers.data.qLoginUser.is_admin" dmx-on:click="run({run:{outputType:'text',action:`scSharedSecrets.load({secret_id: secret_id});ddSecret.select(secret_id)`}})" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalShareSecret" dmx-bind:disabled="!varSession.value"><i class="bi bi-send me-2"></i>Share Secret</button>
                      <button id="btnDownloadSecret" dmx-on:click="run({meta:{$param:[{type:'text',name:'data'},{type:'text',name:'filename'}]},exec:{steps:[{run:{outputType:'text',action:`ddSecret.select(secret_id);varRunDownloadFunction.setValue(true)`}},{condition:{outputType:'boolean',if:`scSecretData.data.varData.secret_id!=ddSecret.data.secret_id`,then:{steps:{run:{outputType:'text',action:`scSecretData.load({secret_id: secret_id})`}}},else:{steps:{runJS:{outputType:'text',function:'downloadSecret',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.file_name`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,`download`]}}}}},{run:{outputType:'text',action:`ddSecret.select()`}}]}})" class="dropdown-item" dmx-bind:disabled="!varSession.value"><i class="bi bi-file-earmark-arrow-down me-2"></i>Download Secret</button>
                      <hr class="dropdown-divider" dmx-show="is_edit_allowed==1">
                      <button dmx-on:click="ddSecret.select(secret_id)" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteSecret" dmx-show="is_edit_allowed==1"><i class="bi bi-trash me-2"></i>Delete</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="align-items-baseline d-flex justify-content-center" dmx-show="scSecrets.data.qSecrets.data.hasItems()&&!scSecrets.state.executing">
        <small class="me-3 d-none d-md-flex">Show items</small>
        <label class="d-none d-md-flex">
          <select name="selLimit" class="form-select" dmx-on:changed="qm.set('offset',0)">
            <option value="25" selected="true">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </label>
        <ul class="pagination justify-content-center pagination-round ms-md-2 mb-0" dmx-populate="scSecrets.data.qSecrets" dmx-state="qm" dmx-offset="offset" dmx-generator="bs5paging">
          <li class="page-item" dmx-class:disabled="scSecrets.data.qSecrets.page.current == 1" aria-label="First">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="scSecrets.load({offset: scSecrets.data.qSecrets.page.offset.first})"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="scSecrets.data.qSecrets.page.current == 1" aria-label="Previous">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="scSecrets.load({offset: scSecrets.data.qSecrets.page.offset.prev})"><span aria-hidden="true">&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:active="title == scSecrets.data.qSecrets.page.current" dmx-class:disabled="!active" dmx-repeat="scSecrets.data.qSecrets.getServerConnectPagination(2,1,'...')">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="scSecrets.load({offset: (page-1)*scSecrets.data.qSecrets.limit})">{{title}}</a>
          </li>
          <li class="page-item" dmx-class:disabled="scSecrets.data.qSecrets.page.current == scSecrets.data.qSecrets.page.total" aria-label="Next">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="scSecrets.load({offset: scSecrets.data.qSecrets.page.offset.next})"><span aria-hidden="true">&rsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="scSecrets.data.qSecrets.page.current == scSecrets.data.qSecrets.page.total" aria-label="Last">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="scSecrets.load({offset: scSecrets.data.qSecrets.page.offset.last})"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalManageSecret" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" nokeyboard="true" dmx-on:hide-bs-modal="run([{run:{outputType:'text',action:`ddSecret.select();formManageSecret.reset();varDecryptedData.setValue();varModalManageShow.setValue()`}},{runJS:{outputType:'text',function:'clearInput'}}])">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ddSecret.data ? 'Edit' : 'Add'}} Secret</h5>
        <button type="button" dmx-bind:disabled="varManageSecretFunction.value==1" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formManageSecret" method="post" is="dmx-serverconnect-form" action="/api/secrets/add-edit" dmx-on:success="notif.success(ddSecret.data?'Secret Data Updated Successfully':'Secret Data Added Successfully');scSecrets.load({});modalManageSecret.hide();varManageSecretFunction.setValue(0);scSecretData.reset()" dmx-on:forbidden="browser1.goto('/403-forbidden')" dmx-on:error="notif.danger(formManageSecret.lastError.response.default('Server error occurred. Please try again.'));varManageSecretFunction.setValue(0)" dmx-on:invalid="notif.warning(lastError.response?json(lastError.response):'Please check all inputs.')" dmx-on:unauthorized="browser1.goto('/')">
          <input type="hidden" name="secret_id" dmx-bind:value="ddSecret.data.secret_id">
          <input type="hidden" id="lblSecretIV" name="secret_iv">
          <input type="hidden" id="lblSecretKey" name="secret_key">
          <input type="hidden" id="txtFileMimeType" name="file_mime_type">
          <input type="hidden" id="txtFileExtension" name="file_extension">
          <input type="hidden" id="lblSecretData" name="secret_data">

          <div class="mb-3">
            <label for="Name" class="form-label">Secret Title *</label>
            <input type="text" id="txtSecretTitle" name="secret_title" class="form-control" required="" dmx-bind:value="ddSecret.data.secret_title" maxlength="48">
          </div>

          <div class="mb-2" dmx-show="!ddSecret.data">
            <label class="form-label">Data *</label>
            <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group" id="radioDataType">
              <input type="radio" class="btn-check" name="is_text" id="radioText" autocomplete="off" value="true" dmx-bind:checked="!ddSecret.data" dmx-on:changed="run({runJS:{outputType:'text',function:'clearInput'}})">
              <label class="btn btn-outline-primary" for="radioText">Text</label>
              <input type="radio" class="btn-check" name="is_text" id="radioFile" autocomplete="off" value="false" dmx-on:changed="run({runJS:{outputType:'text',function:'clearInput'}})">
              <label class="btn btn-outline-primary" for="radioFile">File</label>
            </div>
          </div>

          <div class="my-3" dmx-show="ddSecret.data?!ddSecret.data.is_text:radioFile.checked">
            <label for="fileData" class="form-label" dmx-show="ddSecret.data">Data</label>
            <div class="d-flex flex-column">
              <div class="input-group mb-2" dmx-show="ddSecret.data">
                <span class="input-group-text font-monospace">Uploaded File</span>
                <input type="text" class="form-control text-uppercase" readonly disabled dmx-bind:value="ddSecret.data.file_mime_type.split('/')[1]">
              </div>
              <input id="fileData" type="file" class="form-control font-monospace flex-grow-1" dmx-bind:required="radioFile.checked" dmx-bind:data-rule-maxtotalsize="varMaxFileSize.value">
            </div>
            <p id="fileSizeError"></p>
          </div>

          <div class="my-3" dmx-show="radioText.checked||ddSecret.data.is_text">
            <label for="txtData" class="form-label" dmx-show="ddSecret.data">Data</label>
            <textarea class="font-monospace form-control" rows="3" type="text" id="txtData" dmx-bind:value="varDecryptedData.value" dmx-bind:required="radioText.checked"></textarea>
          </div>

          <div class="mb-2">
            <label class="form-label" for="tagifyCommittee">Tags</label>
            <input is="dmx-tagify" class="form-control p-0" id="tagifySecretTags" name="secret_tags" min-chars="0" dmx-bind:value="ddSecret.data.tags" case-sensitive="true" style="--tag-bg: var(--bs-primary); --tags-disabled-bg: var(--bs-primary); --tag-text-color: #FFFFFF;">
          </div>
        </form>
      </div>
      <div class="modal-footer text-end">
        <button id="btnUpdateCancel" class="btn btn-outline-secondary" data-bs-dismiss="modal" dmx-bind:disabled="varManageSecretFunction.value==1">Cancel</button>
        <button class="btn btn-primary" dmx-on:click="run({condition:{outputType:'boolean',if:`formManageSecret.fileData.value||formManageSecret.txtData.value`,then:{steps:{runJS:{outputType:'text',function:'manageSecret',args:[`varPublicKey.value`,`formManageSecret.fileData.value?true:false`]}}},else:{steps:{run:{outputType:'text',action:`formManageSecret.submit()`}}}}})" id="btnmodalManageSecret" dmx-bind:disabled="varManageSecretFunction.value==1">{{ddSecret.data ? 'Update' : 'Add'}}<span class="spinner-border spinner-border-sm ms-2" role="status" dmx-show="varManageSecretFunction.value==1"></span></button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDeleteSecret" is="dmx-bs5-modal" dmx-on:hide-bs-modal="ddSecret.select();txtDeleteSecretTitle.setValue('')" tabindex="-1" nobackdrop="true" nocloseonclick="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-danger modal-title">Delete Secret</h5>
        <button type="button" dmx-bind:disabled="formDeleteSecret.state.executing" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center m-0">Are you sure want to delete {{ddSecret.data.secret_title}}? You will never be able to recover this data after this action</p>
        <div class="my-3">
          <label for="txtDeleteSecretTitle" class="form-label">Please write <strong>{{ddSecret.data.secret_title}}</strong> in the below input.</label>
          <input type="text" class="form-control" id="txtDeleteSecretTitle" required="" is="dmx-input" maxlength="96">
        </div>
        <form action="/api/secrets/delete" method="post" id="formDeleteSecret" is="dmx-serverconnect-form" dmx-on:success="notif.success('Secret Deleted Successfully.');scSecrets.load({},true);modalDeleteSecret.hide()" dmx-on:unauthorized="browser1.goto('/')" dmx-on:forbidden="browser1.goto('/403-forbidden')" dmx-on:error="notif.danger(formShareMessage.lastError.response.default('Server error occurred. Please try again.'))" dmx-on:invalid="notif.warning(lastError.response?json(lastError.response):'Please check all inputs.')">
          <input type="hidden" id="txtDeleteSecretID" name="secret_id" dmx-bind:value="ddSecret.data.secret_id">
          <input type="hidden" name="secret_title" dmx-bind:value="ddSecret.data.secret_title">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal" dmx-bind:disabled="formDeleteSecret.state.executing">Cancel</button>

        <button id="btnmodalDeleteSecret" dmx-on:click="formDeleteSecret.submit()" class="btn btn-danger" type="submit" dmx-bind:disabled="(formDeleteSecret.state.executing)||(txtDeleteSecretTitle.value!=ddSecret.data.secret_title)">Delete<span class="spinner-border spinner-border-sm ms-2" role="status" dmx-show="formDeleteSecret.state.executing"></span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalViewSecret" is="dmx-bs5-modal" dmx-on:hide-bs-modal="ddSecret.select();varDecryptedData.setValue();varFileURL.setValue();varModalViewShow.setValue(false)" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <h5 class="modal-title text-capitalize">{{ddSecret.data.secret_title}}</h5>
        <div class="d-flex align-items-center">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body">
        <div id="crText" is="dmx-if" dmx-bind:condition="(ddSecret.data.file_mime_type=='text/plain'||ddSecret.data.is_text)">
          <pre dmx-text="varDecryptedData.value"></pre>
        </div>
        <div id="crImage" is="dmx-if" class="form-floating" dmx-bind:condition="(ddSecret.data.file_mime_type.contains('image'))">
          <img alt="Your image" dmx-bind:src="varFileURL.value" width="100%" height="100%" class="img-fluid">
        </div>
        <div id="crAudio" is="dmx-if" class="form-floating" dmx-bind:condition="(ddSecret.data.file_mime_type=='audio/mpeg'||ddSecret.data.file_mime_type=='audio/wav'||ddSecret.data.file_mime_type=='audio/ogg')">
          <p>Click on the play button to play the sound:</p>
          <audio controls style="width: 100%;">
            <source dmx-bind:src="varFileURL.value" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
        <div id="crVideo" is="dmx-if" class="form-floating" dmx-bind:condition="(ddSecret.data.file_mime_type=='video/mp4'||ddSecret.data.file_mime_type=='video/webm'||ddSecret.data.file_mime_type=='video/3gpp'||ddSecret.data.file_mime_type=='video/ogg')">
          <video is="dmx-video" dmx-bind:src="varFileURL.value" controls="true" width="100%" height="100%"></video>
        </div>
        <div id="crPDf" is="dmx-if" class="form-floating" dmx-bind:condition="(ddSecret.data.file_mime_type=='application/pdf')">
          <embed id="pdfEmbed" type="application/pdf" width="100%" height="600x" />
          <p id="txterrorMessage" style="display:none;">Sorry, preview of this file format not supported.</p>
        </div>
        <div id="crPreviewError" is="dmx-if" class="form-floating" dmx-bind:condition="((ddSecret.data.file_mime_type!='video/mp4')&&(ddSecret.data.file_mime_type!='audio/mpeg')&&(!ddSecret.data.file_mime_type.contains('image'))&&(ddSecret.data.file_mime_type!='text/plain')&&(ddSecret.data.file_mime_type!='audio/wav')&&(ddSecret.data.file_mime_type!='audio/ogg')&&(ddSecret.data.file_mime_type!='video/webm')&&(ddSecret.data.file_mime_type!='video/3gpp')&&(ddSecret.data.file_mime_type!='video/ogg')&&(ddSecret.data.file_mime_type!='application/pdf'))">
          <p>Sorry, preview of this file format not supported.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAddPrivateKey" is="dmx-bs5-modal" dmx-on:hide-bs-modal="run([{run:{outputType:'text',action:`varInvalidPrivateKey.setValue()`}},{runJS:{outputType:'text',function:'clearInput'}}])" tabindex="-1" nocloseonclick="true" nokeyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Unlock Secrets</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <label for="fileKey" class="form-label">Private Key *</label>
          <div class="d-flex">
            <input id="fileKey" type="file" class="font-monospace form-control me-2" dmx-bind:data-rule-maxtotalsize="varMaxPVTKEYFileSize.value" required="">
          </div>
        </div>
        <p id="pvtKeyFileSizeError"></p>
        <p dmx-bind:class="'m-0 '+ (varInvalidPrivateKey.value=='false'?'text-success':'text-danger')" dmx-show="varInvalidPrivateKey.value"><span><i dmx-bind:class="'bi me-2 '+ (varInvalidPrivateKey.value=='true' ? 'bi-x-circle-fill' : 'bi-check-circle-fill')"></i></span>{{varInvalidPrivateKey.value=='true'?'RSA private key is invalid.':'RSA private key is valid.'}}</p>
      </div>
      <div class="modal-footer">
        <button id="btnAddPrivateKey" dmx-on:click="run({meta:{$param:[{type:'text',name:'key'}]},exec:{steps:{runJS:{outputType:'text',function:'verifyPrivateKey',args:[`\'fileKey\'`,`scUsers.data.qLoginUser.encypted_data`,`scUsers.data.qLoginUser.secret_key`,`scUsers.data.qLoginUser.secret_iv`]}}}})" class="btn btn-primary" type="submit" dmx-bind:disabled="!fileKey.value">Unlock</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalShareSecret" is="dmx-bs5-modal" dmx-on:hide-bs-modal="ddSecret.select();formShareMessage.reset();varCurrentCheckCount.setValue(0);scSharedSecrets.reset()" tabindex="-1" nocloseonclick="true" nokeyboard="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize">Sharing Secret - {{ddSecret.data.secret_title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" dmx-bind:disabled="varShareSecretFunction.value==1"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center py-5" dmx-show="scSharedSecrets.state.executing">
          <span class="border-3 ms-2 spinner-border spinner-border-sm" role="status"></span>
        </div>
        <h5 dmx-show="!scSharedSecrets.data.qUsers.hasItems()&&!scSharedSecrets.state.executing">No Users Found!</h5>
        <div class="d-flex flex-column mt-3">
          <form id="formShareMessage" is="dmx-serverconnect-form" method="post" action="/api/secrets/share-secrets" dmx-on:success="notif.success('Message shared successfully.');modalShareSecret.hide();varShareSecretFunction.setValue(0)" dmx-on:unauthorized="browser1.goto('/')" dmx-on:forbidden="browser1.goto('/403-forbidden')" dmx-on:error="notif.danger(formShareMessage.lastError.response.default('Server error occurred. Please try again.'));varShareSecretFunction.setValue(0)" dmx-on:invalid="notif.warning(lastError.response?json(lastError.response):'Please check all inputs.')">
            <input type="hidden" name="secret_id" dmx-bind:value="ddSecret.data.secret_id">
            <input type="hidden" name="secret_title" dmx-bind:value="ddSecret.data.secret_title">
            <input type="hidden" id="lblShareSecretData" name="secret_data">
            <input type="hidden" id="lblShareSecretKey" name="secret_key_encrypted">
            <input type="hidden" id="lblShareSecretIV" name="secret_iv">
            <div is="dmx-form-repeat" id="formRepeatUsers" dmx-bind:items="scSharedSecrets.data.qUsers">
              <input type="hidden" name="user_id" dmx-bind:value="user_id" id="txtUserID">
              <div class="align-items-center d-flex justify-content-between mb-3">
                <h6 class="m-0 text-capitalize">{{first_name+' '+last_name}}</h6>
                <div class="form-check form-switch" dmx-show="pub_key">
                  <input type="checkbox" id="chkShare" class="form-check-input" name="is_shared" value="1" dmx-bind:checked="shared_message" role="button" dmx-on:checked="run({condition:{outputType:'boolean',if:`shared_message==0`,then:{steps:{run:{outputType:'text',action:`varCurrentCheckCount.setValue(varCurrentCheckCount.value+1)`}}}}})" dmx-on:unchecked="run({condition:{outputType:'boolean',if:`shared_message==0`,then:{steps:{run:{outputType:'text',action:`varCurrentCheckCount.setValue(varCurrentCheckCount.value-1)`}}}}})">
                </div>
                <p class="text-success m-0" dmx-show="!pub_key">Invited</p>
              </div>
            </div>
          </form>
          <div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" dmx-bind:disabled="varShareSecretFunction.value==1">Cancel</button>
        <button id="btnShareMessage" class="btn btn-primary" dmx-bind:disabled="varShareSecretFunction.value==1" dmx-on:click="run({condition:{outputType:'boolean',if:`varCurrentCheckCount.value&gt;0`,then:{steps:{condition:{outputType:'boolean',if:`scSecretData.data.varData.secret_id!=ddSecret.data.secret_id`,then:{steps:{run:{outputType:'text',action:`varRunShareFunction.setValue(true);scSecretData.load({secret_id: ddSecret.data.secret_id})`}}},else:{steps:{runJS:{outputType:'text',function:'shareSecret',args:[`scSecretData.data.varData.secret_data`,`scSecretData.data.varData.secret_key`,`scSecretData.data.varData.secret_iv`,`scSecretData.data.varData.file_mime_type`,`varPublicKey.value`]}}}}}},else:{steps:{run:{outputType:'text',action:`formShareMessage.submit()`}}}}})">Share Secret <span class="spinner-border spinner-border-sm ms-2" role="status" dmx-show="varShareSecretFunction.value==1"></span></button>
      </div>
    </div>
  </div>
</div>